* {
  margin: 0px;
  padding: 0px;
}

/* .App {
  text-align: center;
} */

.redirect-btn{
  float: right;
  /* margin-bottom: 10px; */
  text-decoration: none;
  background-color: #0d6efd;
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}

